<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.repository.UserMapper">

    <select id="findByUsername" resultType="User">
        SELECT
        *
        FROM
        users
        WHERE
        username = #{username}
    </select>

    <select id="findAll" resultType="User">
        SELECT
        *
        FROM
        users
    </select>

    <insert id="insert">
        INSERT INTO
        users
        (username, password, authority)
        VALUES
        (#{username}, #{password}, #{authority})
    </insert>


</mapper>
